html
*.pdf
*.swp
books
.gdb_history
test
build
gmon.out
doc/en
doc/ru
doc/html
trash
disk
*~
data
res
*.doc
todo
TODO
release
*.eps
release
visual_studio
glues
gl_sc
__pycache__
*.pyc
cats
Session.vim
*Rhistory
